<html>
  <head>
      <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Adventure Works Conference">
    <meta name="author" content="Isaac-IJ">
    <link rel="icon" href="../../favicon.ico">

    <title>Adventure Works Conference</title>
    {% load staticfiles %}
    <link href="{% static 'app/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/css/starter-template.css' %}" rel="stylesheet">

    {% block styles %}
    {% endblock %}
 </head>

    <body>
